doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='/style/bootstrap.min.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/script/main.js')
  body
    block content
