extends ../includes/layout
block content
    .container
        table.table.table-hover.table-bordered
            thead
                    tr
                        th 电影名字
                        th 导演
                        th 语种
                        th 国家
                        th 上映时间
                        th 录入时间
                        th 更新时间
                        th 查看
                        th 更新
                        th 删除
            tbody
                each item in data
                    tr(class="item-id-#{item._id}")
                        td  #{item.title}
                        td  #{item.doctor}
                        td  #{item.language}
                        td  #{item.country}
                        td  #{item.year}
                        td  #{item.meta.createAt}
                        td  #{item.meta.updateAt}
                        td: a(href="/detail/#{item._id}") 查看
                        td: a(href="/admin/update/#{item._id}") 修改
                        td
                            button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
