extends ../includes/layout
block content
    .container
        .row
            form.form-horizontal(method="post",action="/add_movie")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 电影名字
                    .col-sm-10
                        //input#iputTitle.form-control(type="text",name="movie[title]",value="#{movie.title}")
                        input#iputTitle.form-control(type="text",name="movie[title]")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 电影导演
                    .col-sm-10
                        //input#iputDoctor.form-control(type="text",name="movie[doctor]",value="#{movie.doctor}")
                        input#iputDoctor.form-control(type="text",name="movie[doctor]")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 国家
                    .col-sm-10
                        //input#iputCounty.form-control(type="text",name="movie[country]",value="#{movie.country}")
                        input#iputCounty.form-control(type="text",name="movie[country]")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 语种
                    .col-sm-10
                        //input#iputLanguage.form-control(type="text",name="movie[language]",value="#{movie.language}")
                        input#iputLanguage.form-control(type="text",name="movie[language]")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 海报地址
                    .col-sm-10
                        //input#iputPoster.form-control(type="text",name="movie[poster]",value="#{movie.poster}")
                        input#iputPoster.form-control(type="text",name="movie[poster]")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 片源地址
                    .col-sm-10
                        //input#iputFlash.form-control(type="text",name="movie[flash]",value="#{movie.flash}")
                        input#iputFlash.form-control(type="text",name="movie[flash]")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 上映年代
                    .col-sm-10
                        //input#iputYear.form-control(type="text",name="movie[year]",value="#{movie.year}")
                        input#iputYear.form-control(type="text",name="movie[year]")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 电影简介
                    .col-sm-10
                        //textarea#iputSummary.form-control(type="text",name="movie[summary]")
                        textarea#iputSummary.form-control(type="text",name="movie[summary]")
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type="submit") 录入
