//admin_update的内容
extends ../includes/layout
block content
    .container
        .row
            form.form-horizontal(method="post",action="/update_movie/#{movie._id}")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 电影名字
                    .col-sm-10
                        input#iputTitle.form-control(type="text",name="movie[title]",value="#{movie.title}")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 电影导演
                    .col-sm-10
                        input#iputDoctor.form-control(type="text",name="movie[doctor]",value="#{movie.doctor}")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 国家
                    .col-sm-10
                        input#iputCounty.form-control(type="text",name="movie[country]",value="#{movie.country}")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 语种
                    .col-sm-10
                        input#iputLanguage.form-control(type="text",name="movie[language]",value="#{movie.language}")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 海报地址
                    .col-sm-10
                        input#iputPoster.form-control(type="text",name="movie[poster]",value="#{movie.poster}")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 片源地址
                    .col-sm-10
                        input#iputFlash.form-control(type="text",name="movie[flash]",value="#{movie.flash}")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 上映年代
                    .col-sm-10
                        input#iputYear.form-control(type="text",name="movie[year]",value="#{movie.year}")
                .form-group(style="display:none;")
                    label.col-sm-2.control-label(for="inputTitle") 录入时间
                    .col-sm-10
                        input#iputYear.form-control(type="text",name="movie[createAt]",value="#{movie.meta.createAt}")
                .form-group(style="display:none;")
                    label.col-sm-2.control-label(for="inputTitle") 更新时间
                    .col-sm-10
                        input#iputYear.form-control(type="text",name="movie[updateAt]",value="#{movie.meta.updateAt}")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 电影简介
                    .col-sm-10
                        textarea#iputSummary.form-control(type="text",name="movie[summary]") #{movie.summary}
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type="submit") 录入
