extends ../includes/layout
block content
  h1 #{title}
  ul
    li
      a(target="_blank",href="/list")电影列表
    li
      a(target="_blank",href="/admin/list")后台列表
    li
       a(target="_blank",href="/admin/new")后台录入
