extends ../includes/layout
block content

 .container
    .row
     each row in data
         .col-md-2
            .thumbnail
                img(src="#{row.poster}",alt="#{row.title}")
            .caption
                h3 #{row.title}
                p:  a.btn.btn-primary( href="/detail/#{row._id}", role="button") 观看预告片

