extends ../includes/layout
block content
    .container
        .row
            .col-md-7
                embed(src="#{data.flash}", style="border: 1px solid #ddd;",allowFullScreen="true",quality="high",width="720",height="400",align="middle",type="application/x-shockwave-flash")
            .col-md-5
                dl.dl-horizontal
                    dt 电影名字
                    dd=data.title
                    dt 导演
                    dd=data.doctor
                    dt 国家
                    dd=data.country
                    dt 语言
                    dd=data.language
                    dt 上映年份
                    dd=data.year
                    dt 简介
                    dd=data.summary
